@model BaseModel

<div class="detail-header">
    <div class="detail-header__banner position-relative">
        <div class="detail-header__banner-overlay"></div>
        @{
            if (string.IsNullOrWhiteSpace(@Model.BannerImage))
            {
                <img src="../wwwroot/img/content/banner-placeholder.png" />
            }
            else
            {
                <img src="@Model.BannerImage" />
            }
        }
    </div>

    <div class="detail-header__info">
        <div class="row align-items-end">
            <div class="col-4 col-md-3 detail-header__info-poster">
                <img src="@Model.Image" />
            </div>
            <div class="col-8 col-md-9 detail-header__info-text">
                <div class="text-details">
                    @{
                        if (Model.ContentType == ContentType.Movie)
                        {
                            <p class="item-type mb-2">
                                <svg class="all fill-primary">
                                    <use xlink:href="../wwwroot/all.svg#icon-movie"></use>
                                </svg>
                                @Model.Resources.TextMovie
                            </p>
                        }

                        if (Model.ContentType == ContentType.TV)
                        {
                            <p class="item-type mb-2">
                                <svg class="all fill-primary">
                                    <use xlink:href="../wwwroot/all.svg#icon-tv"></use>
                                </svg>
                                @Model.Resources.TextTV
                            </p>
                        }

                        if (Model.ContentType == ContentType.Audio)
                        {
                            <p class="item-type mb-2">
                                <svg class="all fill-primary">
                                    <use xlink:href="../wwwroot/all.svg#icon-audio"></use>
                                </svg>
                                @Model.Resources.TextAudio
                            </p>
                        }

                    }
                    <h2>@Model.Name</h2>
                    <p class="item-category mb-2">@Model.Category</p>
                    <p class="m-0"><small>@Model.Duration | @Model.Year | @Model.Rating</small></p>
                </div>
                <div class="text-rating d-flex justify-content-between pt-4">
                    <h5>@Model.ImdbRating</h5>
                    <a href="https://www.imdb.com/title/@{@Model.ImdbId}" target="_blank">
						<img src="../wwwroot/img/content/imdb.png" />
					</a>
                </div>
            </div>

            <div class="detail-header__info-btn">
                <button type="button" class="btn btn-primary" onclick="window.open('@{@Model.DefaultTrailerUrl}', '_blank')">
                    @Model.Resources.ButtonTrailer
                    <svg class="all fill-white">
                        <use xlink:href="../wwwroot/all.svg#icon-play"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>