@model IndexViewModel
<div>
    <section class="home-slider">

        <div class="slider slider-for home-slider__fullwidth">

            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=1">
            </div>
            <div>
                <div class="overlay"></div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=2">

                <div class="home-slider__fullwidth-content">
                    <div class="content-img me-2 me-md-5">
                        <img src="https://via.placeholder.com/283x420/fff000?text=2">
                    </div>
                    <div class="content-info">
                        <div class="content-info__type d-flex align-items-center mb-2">
                            <svg class="all fill-white">
                                <use xlink:href="all.svg#icon-tv"></use>
                            </svg>
                            <span class="ms-2">serie</span>
                        </div>
                        <h2 class="content-info__title">Friends: The Reunion</h2>
                        <p class="content-info__genre">Comedy</p>
                        <p class="content-info__sinopse mb-4">For the first time in 17 years, the cast of Friends reunites for a special celebration of the beloved, smash-hit comedy series.</p>
                        <div class="content-info__btn d-flex align-items-center">
                            <button type="button" class="btn btn-rounded btn-primary text-uppercase me-3">Read more</button>
                            <button type="button" class="btn btn-rounded btn-primary text-uppercase">Trailer</button>

                            <div class="content-rating ms-4 hide-tablet">
                                <span class="me-2">8.5</span>
                                <svg class="all">
                                    <use xlink:href="all.svg#imdb-logo"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=3">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=4">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=5">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=6">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=7">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=8">
            </div>
            <div>
                <img class="home-slider__fullwidth-img" src="https://via.placeholder.com/2400x1384?text=9">
            </div>
        </div>



        <div class="slider slider-nav home-slider__items">
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=1">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=2">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=3">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=4">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=5">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=6">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=7">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=8">
            </div>
            <div>
                <img src="https://via.placeholder.com/212x315/ff0000?text=9">
            </div>

        </div>


    </section>

    <section class="search-content p-5 hide-tablet">

        <div class="container">
            <div class="d-flex">
                <div class="search-content__control">
                    <svg class="all svg-search">
                        <use xlink:href="../wwwroot/all.svg#icon-search"></use>
                    </svg>
                    <input type="text" placeholder="Search..">
                    <button class="clear-icon-btn">
                        <svg class="all">
                            <use xlink:href="../wwwroot/all.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>

                <div class="search-content__buttons d-flex">
                    <button type="button" class="btn btn-primary">@Model.Resources.ButtonSearch</button>
                    <button type="button" class="btn btn-primary">@Model.Resources.ButtonFilters</button>
                </div>
            </div>

            <div class="search-content__filters my-4">
                <div>
                    <button class="btn btn-filter-outline btn-rounded me-3 active" onclick="filterSelection('all')"> @Model.Resources.ButtonAllContent</button>
                    <button class="btn btn-filter-outline btn-rounded me-3" onclick="filterSelection('movies')"> @Model.Resources.ButtonMovies</button>
                    <button class="btn btn-filter-outline btn-rounded me-3" onclick="filterSelection('series')"> @Model.Resources.ButtonSeries</button>
                    <button class="btn btn-filter-outline btn-rounded me-3" onclick="filterSelection('audio')"> @Model.Resources.ButtonAudio</button>
                </div>

                <div class="search-content__filters-form my-4">
                    <div>
                        <label>@Model.Resources.DropDownCategory</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.Categories)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownGenre</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.Genres)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownLanguage</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.Languages)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownSubtitle</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.Subtitles)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownSortby</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.SortBy)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <a href="#"> @Model.Resources.ButtonClearAll</a>
                </div>

                <h5>@Model.Resources.TextWhatsOnYourFlight</h5>

                <div class="search-content__filters-form my-4">
                    <div>
                        <label>@Model.Resources.DropDownDate</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.Dates)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownFrom</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.From)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownTo</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.To)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div>
                        <label>@Model.Resources.DropDownFlightNumber</label>
                        <select class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Model.FlightNumber)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                            }
                        </select>
                    </div>


                    <a href="#"> @Model.Resources.ButtonEdit</a>

                </div>
            </div>
        </div>

    </section>

    <section class="search-results p-5">
        <div class="container">
            <p class="search-results__title hide-tablet"> @Model.Resources.TextSearchResults <span>(@Model.Total)</span></p>

            <div class="d-flex d-md-none justify-content-between align-items-center mb-4">
                <p class="search-results__title mb-0">  </p>
                <button class="btn-outline btn-rounded btn-outline-mobile">Filter</button>
            </div>
            <div class="row row-cols-lg-5 ">
                @{
                    foreach (var movie in Model.Movies)
                    {
                        <div class="col col-6 col-md-4">

                            <a href="@{@movie.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@movie.Image" />
                                    <div class="search-results__item-type">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-movie"></use>
                                        </svg>
                                    </div>
                                </div>

                            </a>

                            <p class="search-results__item-title mb-0 mt-3">@movie.Name<span></span></p>
                            <p class="search-results__item-info"><span>@movie.Year</span> | <span>@movie.Duration</span></p>

                        </div>
                    }

                    foreach (var tv in Model.Tvs)
                    {
                        <div class="col col-6 col-md-4">

                            <a href="@{@tv.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@tv.Image" />
                                    <div class="search-results__item-type">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-tv"></use>
                                        </svg>
                                    </div>
                                </div>

                            </a>

                            <p class="search-results__item-title mb-0 mt-3">@tv.Name: <span>Season @tv.Season</span></p>
                            <p class="search-results__item-info"><span>@tv.Year</span> | <span>@tv.Duration</span></p>

                        </div>
                    }

                    foreach (var audio in Model.Audios)
                    {
                        <div class="col col-6 col-md-4">

                            <a href="@{@audio.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@audio.Image" />
                                    <div class="search-results__item-type">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-audio"></use>
                                        </svg>
                                    </div>
                                </div>

                            </a>

                            <p class="search-results__item-title mb-0 mt-3">@audio.Name, <span>Season @audio.Season</span></p>
                            <p class="search-results__item-info"><span>@audio.Year</span> | <span>@audio.Duration</span></p>

                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

<style>
    .navbar {
        background-color: #041C2C;
    }
</style>