@model IndexViewModel
<div>
    <section class="home-slider">
        <div class="slider slider-for home-slider__fullwidth">
            @{
                foreach (var movie in Model.Movies)
                {
                    <div>
                        @{
                            if (string.IsNullOrWhiteSpace(@movie.SliderBackgroundImage))
                            {
                                <img src="../wwwroot/img/content/banner-placeholder.png" />
                            }
                            else
                            {
                                <img class="home-slider__fullwidth-img" src="@movie.SliderBackgroundImage">
                            }
                        }
                    </div>
                }

                foreach (var tv in Model.Tvs)
                {
                    <div>
                        @{
                            if (string.IsNullOrWhiteSpace(@tv.SliderBackgroundImage))
                            {
                                <img src="../wwwroot/img/content/banner-placeholder.png" />
                            }
                            else
                            {
                                <img class="home-slider__fullwidth-img" src="@tv.SliderBackgroundImage">
                            }
                        }
                    </div>
                }

                foreach (var audio in Model.Audios)
                {
                    <div>
                        @{
                            if (string.IsNullOrWhiteSpace(@audio.SliderBackgroundImage))
                            {
                                <img src="../wwwroot/img/content/banner-placeholder.png" />
                            }
                            else
                            {
                                <img class="home-slider__fullwidth-img" src="@audio.SliderBackgroundImage">
                            }
                        }
                    </div>
                }
            }
        </div>

        <div class="slider slider-nav home-slider__items">
            @{
                foreach (var movie in Model.Movies)
                {
                    <div>
                        <img src="@movie.SliderImage">
                    </div>
                }

                foreach (var tv in Model.Tvs)
                {
                    <div>
                        <img src="@tv.SliderImage">
                    </div>
                }

                foreach (var audio in Model.Audios)
                {
                    <div>
                        <img src="@audio.SliderImage">
                    </div>
                }
            }
        </div>
    </section>

    <section class="search-content p-5 hide-tablet">
        <div class="container">
            <div class="d-flex">
                <div class="search-content__control">
                    <svg class="all svg-search">
                        <use xlink:href="../wwwroot/all.svg#icon-search"></use>
                    </svg>
                    <input type="text" placeholder="Search.." id="searchInput">
                    <button class="clear-icon-btn" onclick="ResetSearchKeyInput()">
                        <svg class="all">
                            <use xlink:href="../wwwroot/all.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <div class="search-content__buttons d-flex">
                    <button type="button" class="btn btn-primary" onclick="TriggerSearch()">@Model.Resources.ButtonSearch</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#contentFilters" aria-expanded="false" aria-controls="contentFilters">@Model.Resources.ButtonFilters</button>
                </div>
            </div>

            <div class="search-content__filters collapse" id="contentFilters">
                <div class="py-4">
                    <div id="contentTypes">
                        <button class="btn btn-filter-outline btn-rounded me-3 active" data-value="all"> @Model.Resources.ButtonAllContent</button>
                        <button class="btn btn-filter-outline btn-rounded me-3" data-value="movies"> @Model.Resources.ButtonMovies</button>
                        <button class="btn btn-filter-outline btn-rounded me-3" data-value="series"> @Model.Resources.ButtonSeries</button>
                        <button class="btn btn-filter-outline btn-rounded me-3" data-value="audio"> @Model.Resources.ButtonAudio</button>
                    </div>

                    <div class="search-content__filters-form my-4">
                        <div>
                            <label>@Model.Resources.DropDownCategory</label>
                            <select class="form-select dropdown-change-event" aria-label="Default select example"
                                    id="categoryDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownGenre</label>
                            <select class="form-select dropdown-change-event" aria-label="Default select example"
                                    id="genreDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.Genres)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownLanguage</label>
                            <select class="form-select dropdown-change-event" aria-label="Default select example"
                                    id="languageDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.Languages)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownSubtitle</label>
                            <select class="form-select dropdown-change-event" aria-label="Default select example"
                                    id="subtitleDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.Subtitles)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownSortby</label>
                            <select class="form-select dropdown-change-event" aria-label="Default select example"
                                    id="sortingDropdown">
                                @{
                                    foreach (var item in Model.SortBy)
                                    {
                                        <option value="@item.Description">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <a href="JavaScript:void(0);" onclick="ResetContentFilters()"> @Model.Resources.ButtonClearAll</a>
                    </div>

                    <h5>@Model.Resources.TextWhatsOnYourFlight</h5>

                    <div class="search-content__filters-form my-4">
                        <div>
                            <label>@Model.Resources.DropDownDate</label>
                            <select class="form-select flights-dropdown-change-event" disabled aria-label="Default select example"
                                    id="flightDateDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.Dates)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownFrom</label> 
                            <select class="form-select flights-dropdown-change-event" disabled aria-label="Default select example"
                                    id="flightFromDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.From)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownTo</label>
                            <select class="form-select flights-dropdown-change-event" disabled aria-label="Default select example"
                                    id="flightToDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.To)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <div>
                            <label>@Model.Resources.DropDownFlightNumber</label>
                            <select class="form-select flights-dropdown-change-event" disabled aria-label="Default select example"
                                    id="flightNumberDropdown">
                                    <option value="-1"></option>
                                @{
                                    foreach (var item in Model.FlightNumber)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                }
                            </select>
                        </div>

                        <a href="#onYourFlightModal" data-bs-toggle="modal" data-bs-target="#onYourFlightModal">@Model.Resources.ButtonEdit</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="search-results p-5" id="searchResults">
        <div class="container">
            <p class="search-results__title hide-tablet"> @Model.Resources.TextSearchResults <span>(@Model.Total)</span></p>

            <div class="d-flex d-md-none justify-content-between align-items-center mb-4">
                <p class="search-results__title mb-0">  </p>
                <button class="btn-outline btn-rounded btn-outline-mobile">Filter</button>
            </div>
            <div class="row row-cols-lg-5 ">
                @{
                    foreach (var movie in Model.Movies)
                    {
                        <div class="col col-6 col-md-3">

                            <a href="@{@movie.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@movie.Image" />
                                    <!-- item type v1.0 -->
                                    <div class="search-results__item-type d-none">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-movie"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>

                            <!-- item type v1.1 -->
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div style="max-width: 80%;">
                                    <p class="search-results__item-title mb-0 mt-2">@movie.Name<span></span></p>
                                    <p class="search-results__item-info"><span>@movie.Year</span> | <span>@movie.Duration</span></p>
                                </div>
                                <div>
                                    <div class="search-results__item-type">
                                        <svg class="all fill-primary">
                                            <use xlink:href="../wwwroot/all.svg#icon-movie"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    foreach (var tv in Model.Tvs)
                    {
                        <div class="col col-6 col-md-3">

                            <a href="@{@tv.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@tv.Image" />
                                    <!-- item type v1.0 -->
                                    <div class="search-results__item-type d-none">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-tv"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>

                            <!-- item type v1.1 -->
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div style="max-width: 80%;">
                                    <p class="search-results__item-title mb-0 mt-2">@tv.Name: <span>Season @tv.Season</span></p>
                                    <p class="search-results__item-info"><span>@tv.Year</span> | <span>@tv.Duration</span></p>
                                </div>
                                <div>
                                    <div class="search-results__item-type">
                                        <svg class="all fill-primary">
                                            <use xlink:href="../wwwroot/all.svg#icon-tv"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    foreach (var audio in Model.Audios)
                    {
                        <div class="col col-6 col-md-3">

                            <a href="@{@audio.HtmlName}.html">
                                <div class="search-results__item">
                                    <img src="@audio.Image" />
                                    <!-- item type v1.0 -->
                                    <div class="search-results__item-type d-none">
                                        <svg class="all fill-white">
                                            <use xlink:href="../wwwroot/all.svg#icon-audio"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>

                            <!-- item type v1.1 -->
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div style="max-width: 80%;">
                                    <p class="search-results__item-title mb-0 mt-2">@audio.Name<span></span></p>
                                    <p class="search-results__item-info"><span>@audio.Year</span> | <span>@audio.Duration</span></p>
                                </div>
                                <div>
                                    <div class="search-results__item-type">
                                        <svg class="all fill-primary">
                                            <use xlink:href="../wwwroot/all.svg#icon-audio"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

<style>
    .navbar {
        background-color: #041C2C;
    }
</style>