@model TvDetailModel
@Html.Partial("Shared/DetailHeader.cshtml", Model)

<section class="item-details">

    <div class="item-details__info">
        <div class="mb-4">
            <h6>@Model.Resources.TextOverview</h6>
            <p>@Model.Description</p>
        </div>

        <div class="mb-4">
            <h6>@Model.Resources.TextCredits</h6>
            <div class="d-flex">
                <div class="item-details__subtitle">
                    <p>@Model.Resources.TextDirector</p>
                    <p>@Model.Resources.TextCast</p>
                </div>
                <div class="item-details__description">
                    <p>@Model.Director</p>
                    <p>@Model.Cast</p>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h6>@Model.Resources.TextInformation</h6>
            <div class="d-flex">
                <div class="item-details__subtitle">
                    <p>@Model.Resources.TextStudio</p>
                    <p>@Model.Resources.TextGenre</p>
                    <p>@Model.Resources.TextReleased</p>
                    <p>@Model.Resources.TextCopyright</p>
                </div>
                <div class="item-details__description">
                    <p>@Model.Studio</p>
                    <p>@Model.Genre</p>
                    <p>@Model.Released</p>
                    <p>@Model.Copyright©</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="bg-dark py-5 my-5">
    <div class="item-all__episodes">
        <h6>@Model.Resources.TextEpisodes</h6>

        <div class="detail-slider mt-3">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="slider slider-for-all-episodes detail-slider__all-episodes">

                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=1">
                                    </div>
                                    <div class="col-8 pe-5">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=2">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=3">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=4">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=5">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=6">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=7">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-detail">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="https://via.placeholder.com/302x173?text=8">
                                    </div>
                                    <div class="col-8">
                                        <p class="episode-detail__title">How to Get Away with Murder, S3</p>
                                        <p class="episode-detail__subtitle">EP1 - We’re Good People Now</p>
                                        <p class="episode-detail__sinopse">With Wallace Mahoney’s murder unsolved and Frank’s whereabouts unknown, the Keating 5 struggle to move on with their lives as they enter into their second year of law school. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="slider slider-nav-all-episodes detail-slider__all-episodes">
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=1">
                                <div>
                                    <p class="episode-thumbnail__title">EP1 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=2">
                                <div>
                                    <p class="episode-thumbnail__title">EP2 - We’re Good People Now now now now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">

                                <img src="https://via.placeholder.com/136x78/ff0000?text=3">
                                <div>
                                    <p class="episode-thumbnail__title">EP3 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=4">
                                <div>
                                    <p class="episode-thumbnail__title">EP4 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=5">
                                <div>
                                    <p class="episode-thumbnail__title">EP5 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=6">
                                <div>
                                    <p class="episode-thumbnail__title">olaola</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=7">
                                <div>
                                    <p class="episode-thumbnail__title">EP6 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="episode-thumbnail">
                                <img src="https://via.placeholder.com/136x78/ff0000?text=8">
                                <div>
                                    <p class="episode-thumbnail__title">EP7 - We’re Good People Now</p>
                                    <p class="episode-thumbnail__info m-0">2016 | 44 mins</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="item-details content-light mb-4">
    <h6>@Model.Resources.TextRelated</h6>

    <div class="row row-cols-lg-5 ">
        @{
            foreach (var relate in Model.Related)
            {
                <div class="col col-4">

                    <a href="@{@relate.HtmlName}.html">
                        <div class="search-results__item">
                            <img src="@relate.Image" />
                            <div class="search-results__item-type">
                                <svg class="all fill-white">
                                    <use xlink:href="../wwwroot/all.svg#icon-tv"></use>
                                </svg>
                            </div>
                        </div>

                    </a>

                    <p class="search-results__item-title mb-0 mt-3">@relate.Name: <span>Season @relate.Season</span></p>
                    <p class="search-results__item-info"><span>@relate.Year</span> | <span>@relate.Duration</span></p>

                </div>
            }
        }
    </div>
</div>

<section class="item-all bg-dark py-5 my-5">
    <div class="item-all__content">
        <h6>@Model.Resources.TextAllSeries</h6>

        <div class="detail-slider mt-3">
            <div class="slider all-items detail-slider__all-items">
                @{
                    foreach (var tv in Model.AllTvs)
                    {
                        <div>
                            <a href="@{@tv.HtmlName}.html">
                                <img src="@tv.Image" />
                            </a>
                            <p class="item-title mb-0 mt-2">@tv.Name: <span>Season @tv.Season</span></p>
                            <p class="item-info"><small><span>@tv.Year</span> | <span>@tv.Duration</span></small></p>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>